include LICENSE.txt
include README.md
include CHANGELOG.md
include .readthedocs.yml

# doc
include doc/Makefile
recursive-include doc *.bat 
recursive-include doc *.py 
recursive-include doc *.rst
prune doc/build
prune doc/source/stubs

# examples
recursive-include examples *.csv
recursive-include examples *.md
recursive-include examples *.out
recursive-include examples *.py

# resources
recursive-include resources *.png
recursive-include resources *.svg

# symbolic
recursive-include symbolic *.py

# tests
recursive-include tests *.py